 .profile{
    max-width: 900px;
    margin: 0 auto;
} 
.profile-container{
    display: flex;
    margin: 50px auto;
    max-width: 900px ;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
}

.profile-img{
    width: 160px;
    height: 160px;
    border-radius: 80px;
}


.profile-right-content{
    min-width: 300px;
} 
.follow-container{
    display: flex;
    justify-content: space-between;
}